@media (min-width: 1024px) {
  .horizontal-desktop {
    display: flex;
    flex-direction: row;
  }
  .container {
    padding: 24px;
  }
  a:hover,
  .btn:hover {
    color: var(--selected-color);
    text-shadow: var(--text-shadow-outline);
  }
  .burger-btn {
    display: none;
  }
  .mobile-only {
    display: none !important;
  }
  #cart {
    font-size: 0.9rem;
    transition: all var(--transition-time);
    width: 800px;
    height: fit-content;
    position: fixed;
    top: var(--navbar-height);
    right: 8px;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  #cart::scroll-marker-group {
    display: none;
  }
}
@media (max-width: 1023px) {
  .horizontal-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navlist {
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(241, 231, 215, 0.973);
    gap: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    left: 0;
    top: -1050px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
  }
  #navlist li {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 80px;
    padding: 24px;

    border-top: 1px solid rgb(59, 38, 24);
    border-bottom: 1px solid rgb(59, 38, 24);
  }

  #navlist.active {
    visibility: visible;
    opacity: 1;
    top: 50px;
  }
  .burger-btn {
    font-size: 1.5rem;
    right: 8px;
    display: block;
    background: none;
    border: none;
    color: rgb(10, 10, 10);
  }
  #cart {
    width: 100vw;
    height: 100vh;
  }
}
@media (max-width: 380px) {
  #cart {
    font-size: 0.85rem;
    letter-spacing: -0.3px;
  }
  #contact-form label {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  #contact-form input,
  #contact-form select {
    width: 98%;
  }
  .cart-item img {
    width: 34px;
    height: 34px;
  }
  .cart-item div {
    flex-direction: column;
  }
}
