* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --bg: rgb(201, 180, 159);
  --bg-two: rgb(82, 62, 49);
  --bg-menu: rgba(241, 231, 215, 0.973);
  --color-one: rgb(59, 39, 20);
  --color-text-one: black;
  --color-text-two: rgb(231, 219, 212);
  --bg-opacity: rgba(46, 40, 36, 0.479);
  --bg-topdown-fade: linear-gradient(var(--bg-two) 0%, rgb(0, 0, 0, 0) 100%);
  --color-text-opacity: rgb(255, 255, 255);
  --selected-color: rgb(224, 149, 51);
  --navbar-height: 50px;
  --shadow-one: 2px 2px 4px rgba(53, 50, 50, 0.308);
  --text-shadow-outline: 0 0 4px rgba(54, 54, 54, 0.603);
  --transition-time: 0.35s;
}
/*colors*/
.color-one {
  background-color: var(--bg);
  color: var(--color-text-one);
}
.color-two {
  background-color: var(--bg-two);
  color: var(--color-text-two);
}
.bg-transparent {
  background-color: var(--bg-opacity);
  color: var(--color-text-opacity);
}
.bg-topdown-fade {
  background: var(--bg-topdown-fade);
  color: var(--color-text-opacity);
}
/*elements base*/
main {
  z-index: 1;
  position: relative;
}
a {
  color: inherit;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all var(--transition-time);
}
li {
  height: fit-content;
}
/* special fonts */
.cursive {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
}

.special-heading {
  font-variant: small-caps;
  letter-spacing: 0.2em;
  text-align: center;
  font-style: italic;
  margin-top: 16px;
  margin-bottom: 30px;
}

/*buttons*/
.close-btn,
#cart-btn {
  width: 50px;
  height: 50px;
}
.close-btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  transition: all 0.5s ease-in;
  position: fixed;
  right: 8px;
  top: 60px;
}
#cart-btn {
  font-size: 1.4rem;
  background: none;
  border: none;
}
.order-btn {
  background-color: var(--bg);
  font-weight: 600;
  padding: 6px 12px;
  border: 2px solid var(--color-one);
  border-radius: 50px;
  transition: all var(--transition-time);
}
.btn {
  cursor: pointer;
  padding: 8px;
  transition: all var(--transition-time);
}
.btn.active {
  color: var(--color-text-opacity);
  border-radius: 8px;
  background-color: var(--bg-opacity);
  text-shadow: var(--text-shadow-outline);
  box-shadow: var(--shadow-one);
}
.order-btn:hover {
  background-color: var(--color-one);
  border-color: var(--bg);
  color: var(--bg);
  box-shadow: 3px 3px 6px rgba(61, 61, 61, 0.568);
}
.flat-i-btn {
  background: none;
  border: none;
  font-size: 1.1rem;
  color: var(--color-one);
}
/*top navbar*/
.topbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  background-color: var(--bg-menu);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  height: var(--navbar-height);
}
.topbar-blank {
  width: 100%;
  height: var(--navbar-height);
}

/*standard reusable styles*/
.position-relative {
  position: relative;
}
.separator-200px {
  width: 100%;
  height: 200px;
}
.container {
  padding: 8px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.text-align-center {
  text-align: center;
}
.full-width {
  max-width: 100vw;
}
.gap-32 {
  gap: 32px;
}
.margin-auto {
  margin: auto;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-grid {
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-end {
  align-items: flex-end;
}
/*nav menu*/
nav,
nav ul {
  height: 100%;
}
nav ul {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  gap: 8px;
}
.unstyled-list {
  list-style: none;
}
.unstyled-list li {
  display: flex;
  align-items: center;
}
/*images*/
.logo-container {
  display: inline-flex;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  border-radius: 50%;
}
.logo-container img {
  width: 256px;
  height: 256px;
}
.fixed-bg {
  background-image: url(../assets/kneading-bw.jpg);
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: var(--navbar-height);
  z-index: -1;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container.large img {
  border-radius: 15px;
  width: 100%;
  max-width: 800px;
  height: fit-content;
  box-shadow: var(--shadow-one);
}
.image-container.profile img {
  border-radius: 15px;
  width: 250px;
  height: fit-content;
}
/*map*/
.mapouter {
  position: relative;
  text-align: right;
  display: inline-block;
  flex: 5;
  width: 100%;
  max-width: 600px;
  height: 400px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: inherit;
  height: inherit;
  border-radius: 20px;
  box-shadow: var(--shadow-one);
}
.gmap_iframe {
  height: inherit;
}

/*cards*/
.portfolio-card {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.portfolio-card.mini {
  max-width: 100%;
  padding: 24px;
}
.card-body {
  position: relative;
  overflow: hidden;
  padding: 2px;
  background-color: var(--bg-two);
  border: 2px solid var(--color-text-two);
  border-radius: 8px;
  box-shadow: var(--shadow-one);
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 300px;
  max-width: 95vw;
  max-width: 100%;
  transition: all var(--transition-time) ease-out;
}
.card-body:hover img {
  transform: scale(1.1);
  box-shadow: var(--shadow-one);
}
.card-body img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: all var(--transition-time);
}
.card-popup-box div {
  color: var(--color-text-opacity);
  font-size: 0.8125rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  padding-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
}
.card-popup-box h3 {
  pointer-events: none;
  color: var(--selected-color);
  text-shadow: var(--text-shadow-outline);
  font-size: 1.3125rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 0;
}
.card-popup-box {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  transition: 0.4s;
  z-index: 1;
  padding: 1.25rem 1.875rem;
  opacity: 0;
}
.card-popup-box:before {
  position: absolute;
  content: "";
  background-color: var(--bg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.9;
  border-radius: 8px;
}
.card-body:hover .card-popup-box,
.card-body:focus-within .card-popup-box {
  bottom: 20px;
  opacity: 1;
}
/*Menu Items*/
.menu-item {
  background-color: var(--bg-two);
  color: var(--color-text-two);
  margin: 3px;
  position: relative;
  width: 300px;
  min-width: 230px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 5px;
  border: 2px solid var(--selected-color);
  align-items: center;
  box-shadow: var(--shadow-one);
}
.menu-item h3 {
  letter-spacing: 0.3rem;
  font-variant: small-caps;
}
.menu-item .image-container img {
  max-width: 95%;
  border-radius: 8px;
  border: 2px solid var(--selected-color);
  box-shadow: var(--shadow-one);
}
.menu-item-description {
  padding: 6px;
}
.menu-item .menu-item-price {
  text-align: center;
  padding: 6px;
  width: 95%;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 0.15rem;
  border-top: 2px solid var(--selected-color);
  border-bottom: 2px solid var(--selected-color);
}
.menu-item label {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu-item label input {
  text-align: center;
  width: 40px;
  padding: 4px;
  border-radius: 20px;
  border: none;
}
/*modals*/
.modal {
  position: fixed;
  display: none;
  top: 35px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-menu);
  overflow: scroll;
  opacity: 0;
  transition: all var(--transition-time);
}
.modal.active {
  display: flex;
  padding: 8px;
  opacity: 1;
  z-index: 10;
}

/*contact form*/
#contact-form {
  align-items: center;
  gap: 24px;
  border: 2px solid var(--selected-color);
}
#contact-form label {
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#contact-form input,
#contact-form select {
  padding: 6px;
  border-radius: 4px;
}
select option {
  background-color: var(--bg);
}
select option:nth-child(odd) {
  background-color: var(--bg-two);
  color: white;
}
select option:hover {
  background-color: var(--selected-color);
}
/*contact*/
.contact .flex-column {
  padding: 8px;
  border-radius: 8px 2px 8px 2px;
  border: 1px solid var(--bg-two);
  background-color: var(--bg-opacity);
  margin-top: 8px;
  gap: 8px;
  box-shadow: var(--shadow-one);
}
.contacts-container {
  color: var(--color-text-two);
}
/* Shopping Cart*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
#cart {
  transition: all var(--transition-time);
  position: fixed;
  top: var(--navbar-height);
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
#cart.active {
  z-index: 20;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.cart-items-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-opacity);
  padding: 2px;
  gap: 2px;
  box-shadow: 10px 10px 10px var(--bg-opacity);
  border: 2px solid var(--selected-color);
}
.cart-item {
  position: relative;
  display: flex;
  padding: 5px;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--bg-menu);
  color: var(--color-text-one);
}
.cart-item div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.cart-item div input[type="number"] {
  width: 30px;
  padding: 3px;
}
.cart-item img {
  width: 64px;
  height: 64px;
}
