footer {
  background-color: var(--bg-dark);
  color: var(--color-text-alt);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5rem;
  gap: 1rem;
  border-top: 4px solid var(--color-accent);
}
footer h3.cursive {
  font-size: 1.4rem;
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 0.5rem;
}
footer h3.cursive.title {
  font-size: 1.75rem;
}
footer a {
  font-weight: 200;
  font-style: italic;
  margin-top: 0.5rem;
  display: inline-block;
  color: var(--color-text-alt);
  text-shadow: var(--text-shadow);
  transition: all var(--transition-time);
  padding: 0.25rem;
  border-radius: var(--border-radius-sm);
}
footer a:hover {
  cursor: pointer;
  color: var(--color-accent-dark);
  background-color: var(--opacity-60);
}
footer a i {
  color: var(--color-accent);
}
footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  max-width: 1400px;
  gap: 2rem;
  margin: 0 auto;
}
footer .grid-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 1px solid var(--color-accent);
  padding: 1rem;
}
.grid-section img.logo-img {
  margin: 0 auto;
}
footer .grid-section:first-child {
  border-left: none;
  padding-left: 0;
  text-align: left;
}
@media (max-width: 1023px) {
  footer .footer-grid {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding: 2rem 3rem;
  }
  footer .grid-section:nth-child(odd) {
    border-left: none;
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  footer .footer-grid {
    grid-template-columns: 1fr;
  }
  footer .grid-section {
    text-align: center;
    border-left: none;
    padding-left: 0;
  }
}
