.about-section p {
  margin-bottom: 1rem;
  color: var(--color-one);
  line-height: 1.6;
}
.about-section img {
  display: block;
  max-width: 95%;
  margin: 1rem auto;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-md);
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border: 2px solid var(--opacity-20);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  max-width: 300px;
  margin: 1rem auto;
}
.about-section h3 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-one);
  text-align: center;
}
